{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container{
            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            grid-template-rows: auto auto auto;
            grid-gap: 50px;

        }
        .container div{
            padding: 10px;

        }

        
    </style>
</head>
<body>
    <a href="{% url 'home' %}">home</a>
    <a href="{% url 'contact' %}">contact</a>
<h1>    about</h1>


<div class="container">
<div class="item">
    <!-- <img src="static/image/php.png" alt=""> -->
    <img src="{% static 'image/php.png' %}" alt="">
</div>
<div class="item">
    <!-- <img src="static/image/php.png" alt=""> -->
    <img src="{% static 'image/php.png' %}" alt="">
</div>
<div class="item">
    <!-- <img src="static/image/php.png" alt=""> -->
    <img src="{% static 'image/php.png' %}" alt="">
</div>
<div class="item">
    <!-- <img src="static/image/php.png" alt=""> -->
    <img src="{% static 'image/php.png' %}" alt="">
</div>
<div class="item">
    <!-- <img src="static/image/php.png" alt=""> -->
    <img src="{% static 'image/php.png' %}" alt="">
</div>
<div class="item">
    <!-- <img src="static/image/php.png" alt=""> -->
    <img src="{% static 'image/php.png' %}" alt="">
</div>


</div>



</body>
</html>